/* Search Container style for Admin */
.search-container {
  justify-content: right;
}

/* Dashboard style */
.dashboard .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
  margin: 0 auto;
  align-items: flex-start;
}

.dashboard .box-container .box {
  border-radius: 0.5rem;
  padding: 2rem;
  background-color: white;
  box-shadow: var(--box-shadow);
  border: var(--border);
  text-align: center;
}

.dashboard .box-container .box h3 {
  font-size: 5rem;
  color: var(--text-color);
}

.dashboard .box-container .box p {
  margin-top: 1.5rem;
  padding: 1.5rem;
  background-color: var(--light-gray);
  color: var(--primary-color);
  font-size: 2rem;
  border-radius: 0.5rem;
  border: var(--border);
}

/* Add Books style */
.add-books h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--primary-color);
}

.form-container {
  display: flex;
  justify-content: center;
}

.add-books form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 40rem; /* Adjust as needed */
}

.add-books label {
  font-size: 1.4rem;
  margin-top: 1rem;
  color: var(--text-color);
}

.add-books .field {
  width: 100%;
  padding: 0.8rem;
  font-size: 1.4rem;
  margin-top: 0.5rem;
  border: var(--border);
  border-radius: 0.3rem;
  background-color: var(--light-gray);
}

.add-books button {
  padding: 0.8rem 1.6rem;
  font-size: 1.4rem;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
}

.add-books button:hover {
  background-color: var(--secondary-color);
}

.edit-book-form {
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  overflow-y: scroll;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1200;
  width: 100%;
}

.edit-book-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90vw;
  padding: 2rem;
  text-align: center;
  border-radius: 0.5rem;
  background-color: white;
}

.edit-book-form form img {
  max-height: 25rem;
  margin-bottom: 1rem;
}

.edit-book-form form .box {
  margin: 1rem 0;
  padding: 0.8rem 1.2rem;
  border: var(--border);
  border-radius: 0.5rem;
  background-color: var(--light-bg);
  font-size: 1.6rem;
  color: var(--black);
  width: 100%;
  max-width: 20rem;
}

#messages_heading{
  font-size: 5rem;
  text-align: center;
  padding: 2rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.message_box {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

.message_box h1 {
  margin-top: 0;
  margin-bottom: 10px;
  color: #205248;
  font-size: 2rem;
}
.message_box h2 {
  margin-top: 0;
  margin-bottom: 10px;
  color: #333;
  font-size: 1.5rem;
}

.message_box p {
  margin: 0 0 10px;
  color: #666;
  font-size: 1.35rem;
}
.message_box i {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
}

.message_box form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.message_box form input[type="submit"] {
  margin-left: 10px;
}

.delete-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.read-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}


