header {
    color: white;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 0 auto;
    padding: 0 3rem;
}

/* Header-1 styles */
.header-1 {
    background-color: var(--primary-color);
    padding: .8rem 0;
}

.share a {
    color: white;
    text-decoration: none;
    margin-right: 1rem;
}

/* Header-2 styles */
.header-2 {
    background-color: var(--secondary-color);
}

.logo {
    align-self: center;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

nav {
    display: flex;
    align-items: stretch;
}

nav a {
    align-self: center;
    line-height: 3;
    color: white;
    font-size: 1.25rem;
    text-decoration: none;
    margin-left: 1rem;
}

nav a:hover {
    color: var(--text-color);
}

.search-container {
    display: flex;
    align-items: center;
}

input[type="text"] {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    margin-right: 0.5rem;
}

button {
    padding: 0.5rem 0.75rem;
    border: none;
    background-color: var(--border-color);
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;
}

.icons {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.icons #user-btn {
    display: none;
}

.user-box {
    display: none;
    background-color: white;
    padding: 0.625rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}

.user-box p {
    margin: 0.3125rem 0;
}

.user-box a {
    display: block;
    color: white;
    background-color: var(--secondary-color);
    padding: 0.5rem 0.75rem;
    text-align: center;
    border-radius: 0.5rem;
    text-decoration: none;
    margin-top: 0.625rem;
}

.user-box a:hover {
    background-color: var(--border-color);
}

.dropdown{
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 10%;
    text-align: center;
    min-width: 5rem;
    background-color: var(--secondary-color);
    border-top: 3px solid var(--text-color);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    display: block;
    line-height: normal;
}

.dropdown:hover .dropdown-content {
    display: block;
}
