* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  scroll-behavior: smooth;
}



.flex {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 4.8rem;
}

.header-1 {
  background-color: var(--primary-color);
  padding: 0.48rem 0;
}

.header-1 .flex {
  flex-direction: row;
}

.header-1 .flex p {
  color: var(--text-color);
  background-color: var(--background-color);
  padding: 0.8rem 1.6rem;
  border-radius: 0.5rem;
  font-size: 2rem;
}

.header-1 .flex p span {
  color: var(--primary-color);
  font-weight: bold;
}

.share {
  display: flex;
  column-gap: 1.6rem;
}

.share a {
  color: white;
  font-size: 2rem;
  padding: 1rem 0;
  transition: color 0.3s;
}

.share a:hover {
  color: var(--text-color);
}

.login-register {
  display: flex;
  column-gap: 1.6rem;
}

.login-register a {
  display: inline-block;
  color: var(--primary-color);
  background-color: var(--background-color);
  padding: 0.8rem 1.6rem;
  font-size: 1.6rem;
  text-align: center;
  border: 1px solid var(--background-color);
  border-radius: 0.4rem;
  cursor: pointer;
  transition: all 0.3s;
}

.login-register a:first-child {
  color: var(--background-color);
  background-color: transparent;
}

.login-register a:first-child:hover {
  color: var(--primary-color);
  background-color: var(--background-color);
  border-color: var(--background-color);
}

.login-register a:last-child:hover {
  color: var(--background-color);
  background-color: transparent;
  border-color: var(--background-color);
}

/* Header 2 */
.header-2 {
  background-color: var(--secondary-color);
  padding: 0.8rem 0;
  position: relative;
}

.header-2.active {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.logo {
  align-self: center;
  font-size: 4rem;
  font-weight: bold;
  color: white;
}

nav ul {
  display: flex;
  justify-content: space-between;
  column-gap: 3.2rem;
  z-index: 1000;
}

nav ul li {
  list-style: none;
  position: relative;
}

nav a {
  color: white;
  font-size: 2.24rem;
  transition: color 0.15s ease-in-out;
  position: relative;
}

nav a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 3px;
  background-color: var(--text-color);
  transition: width 0.3s;
}

nav a:hover::after {
  width: 100%;
}

nav a.active {
  color: var(--text-color);
}

nav ul li a:hover {
  color: var(--text-color);
}

#dropdown-link {
  display: flex;
  align-items: center;
  max-width: fit-content;
  column-gap: 7px;
}

#dropdown-link-icon {
  transition: transform 0.3s;
}

#dropdown-link:hover #dropdown-link-icon {
  transform: rotate(-90deg);
}

.dropdown-menu-container {
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding-top: 2.24rem;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: clip-path 0.3s;
  z-index: 1000;
}

.dropdown-menu-container .dropdown-menu {
  display: block;
  background-color: var(--secondary-color);
  border-top: 4px solid var(--text-color);
  border-bottom: var(--border);
  border-right: var(--border);
  border-left: var(--border);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  text-align: center;
  padding: 0.8rem 0;
}

#dropdown-link:hover + .dropdown-menu-container,
.dropdown-menu-container:hover {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.search-container {
  display: flex;
  align-items: center;
}

.search-container form {
  position: relative;
}

.search-container form input {
  font-size: 1.6rem;
  color: var(--text-color);
  padding: 1rem;
  padding-left: 2.5rem;
  border-radius: 0.5rem;
}

.search-container form i {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.6rem;
  cursor: pointer;
  color: var(--gray-color);
}

.icons {
  display: flex;
  flex-direction: row-reverse;
  column-gap: 1.6rem;
  font-size: 3rem;
  color: white;
}

.icons div {
  cursor: pointer;
}

.icons #search-btn {
  display: none;
  color: white;
  cursor: pointer;
}

.icons #menu-btn {
  display: none;
}

.user-box {
  position: absolute;
  top: 100%;
  right: 3.5%;
  width: 30rem;
  font-size: 1.6rem;
  padding: 1rem;
  text-align: center;
  color: var(--text-color);
  background-color: var(--background-color);
  box-shadow: var(--box-shadow);
  border: 3px solid var(--text-color);
  border-width: 3px 1px 1px 1px;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  z-index: 1000;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: clip-path 0.3s;
  overflow-x: hidden;
}

.user-box.show {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.user-box a {
  margin-top: 1.6rem;
}

.user-box p {
  font-weight: bold;
}

.user-box span {
  color: var(--primary-color);
  font-weight: normal;
}

#blur-effect {
  display: none;
}

.scroll-to-top-container {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background-color: var(--primary-color);
  color: white;
  width: 4rem;
  height: 4rem;
  text-align: center;
  line-height: 5.5rem;
  border-radius: 50%;
  cursor: pointer;
  display: none;
}

.scroll-to-top-container i {
  font-size: 2.5rem;
}

.scroll-to-top-container:hover {
  background-color: var(--secondary-color);
}

.scroll-to-top-container.show {
  display: block;
}

/* Media Queries */
@media screen and (max-width: 1024px) {
  html {
    font-size: 8px;
  }

  .share a {
    font-size: 2.25rem;
  }

  .icons {
    font-size: 2.5rem;
  }

  .dropdown-menu-container {
    padding-top: 2.18rem;
  }
}

@media screen and (max-width: 768px) {
  .icons #menu-btn {
    display: block;
  }

  .flex {
    padding: 0 2rem;
  }

  nav > ul {
    display: flex;
    flex-direction: column;
    align-content: start;
    justify-content: start;
    row-gap: 1rem;
    position: absolute;
    top: 100%;
    right: 0;
    width: 45%;
    height: 100dvh;
    border: 1px solid var(--gray-color);
    border-left-width: 0;
    background-color: var(--secondary-color);
    padding: 1rem 2rem;
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    transition: clip-path 0.3s;
  }

  nav > ul.show {
    clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
  }

  #blur-effect {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 55%;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid var(--gray-color);
    border-right-width: 0;
    z-index: 999;
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    transition: clip-path 0.3s;
  }

  #blur-effect.show {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  #dropdown-link-icon {
    transition: transform 0.3s;
    transform: rotate(-90deg);
  }

  #dropdown-link:hover #dropdown-link-icon {
    transform: rotate(0);
  }

  nav ul li {
    position: static;
  }

  .dropdown-menu-container {
    position: absolute;
    top: 8%;
    right: 8%;
    width: max-content;
    height: max-content;
    padding-top: 0rem;
    padding-right: 4rem;
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    transition: clip-path 0.3s;
  }

  .dropdown-menu-container .dropdown-menu {
    padding: 0.8rem 2rem;
  }

  #dropdown-link:hover + .dropdown-menu-container,
  .dropdown-menu-container:hover {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .icons #search-btn {
    display: block;
  }

  .search-container {
    width: 50%;
    justify-content: center;
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    transition: clip-path 0.3s;
  }

  .search-container.show {
    clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 6px;
  }
}
